.content{
    /* display: flex; */
    gap: 1em;
}
.info{
    display: flex;
    gap: 1em;
}
.mountains{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    /* border: .5em solid green; */
    background-color: rgb(201, 235, 172);
}

.beaches{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    background-color:rgb(209, 236, 250) ;
    /* border: .5em solid blue; */
}

.restraunts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    /* border: .5em solid red; */
    background-color: rgb(243, 205, 234);
}